# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.idea/
misc.xml
ebdjango.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/workspace.xml
.ebextensions/.elasticbeanstalk/
.elasticbeanstalk/
bin/
Would skip repository local/
share/
*.pyc
/local/
