
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/workspace.xml
.ebextensions/.elasticbeanstalk/
.elasticbeanstalk/
bin/
lib/
Would skip repository local/
share/
