appdirs==1.4.3
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
cssselect==1.1.0
dj-database-url==0.5.0
Django==2.0
django-filter==2.2.0
django-heroku==0.3.1
djangorestframework==3.10.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
gunicorn==19.9.0
idna==2.8
jdcal==1.4.1
jsonfield2==3.0.2
lxml==4.4.1
Markdown==3.1.1
openpyxl==2.6.3
parse==1.12.1
psycopg2==2.8.3
pyee==6.0.0
pyppeteer==0.0.25
pyquery==1.4.0
pytz==2019.2
requests==2.22.0
requests-html==0.10.0
six==1.12.0
soupsieve==1.9.3
tqdm==4.35.0
urllib3==1.25.3
w3lib==1.21.0
websockets==8.0.2
whitenoise==4.1.3
