<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/ebdjango/css/blog.css">
    <link rel="shortcut icon" href="/static/ebdjango/img/favicon.ico"/>
    <title>All cards</title>
    <script src="/static/ebdjango/js/utils.js"></script>
    <!--script>
    var myObj = JSON.parse('{{ json_cards_tojs }}')
    </script-->
</head>
<body>
<script src="/static/ebdjango/js/wz_tooltip.js"></script>
<script src="/static/ebdjango/js/show_card.js"></script>

<h2><a>All Cards to sell</a></h2>

{% for single_row in json_cards_with_price %}
<li class="{% cycle 'row1' 'row2' %}">
    <a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
       onmouseover="TagToTip('{{single_row.nazwa|safe}}4367129',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
       onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
    <span id="{{single_row.nazwa|safe}}4367129" style="visibility: hidden; position: absolute; display: none;"><img
            src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
    ilosc {{single_row.ilosc}} price in EURO: :
    {{single_row.cena}}

</li>
{% endfor %}

<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'All')">All</button>
    <button class="tablinks" onclick="openCity(event, 'White')">White</button>
    <button class="tablinks" onclick="openCity(event, 'Green')">Green</button>
    <button class="tablinks" onclick="openCity(event, 'Red')">Red</button>
    <button class="tablinks" onclick="openCity(event, 'Black')">Black</button>
    <button class="tablinks" onclick="openCity(event, 'Blue')">Blue</button>
    <button class="tablinks" onclick="openCity(event, 'Artifact')">Artifact</button>
    <button class="tablinks" onclick="openCity(event, 'Multicolor')">Multicolor</button>
    <button class="tablinks" onclick="openCity(event, 'Lands')">Lands</button>
    <button class="tablinks" onclick="openCity(event, 'Other')">Other</button>
</div>

<div id="All" class="tabcontent">
    <h2>All</h2>
    {% for single_row in json_cards_with_price %}
    <li class="{% cycle 'row1' 'row2' %}">
        <a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
           onmouseover="TagToTip('{{single_row.nazwa|safe}}4367121',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
           onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
        <span id="{{single_row.nazwa|safe}}4367121" style="visibility: hidden; position: absolute; display: none;"><img
                src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
        ilosc {{single_row.ilosc}} price in EURO: :
        {{single_row.cena}}
    </li>
    {% endfor %}

</div>


<div id="White" class="tabcontent">
    <h2>White</h2>
    {% for single_row in json_cards_with_price %}

    {% if "w" in single_row.kolor%}
    <li class="{% cycle 'row1' 'row2' %}">
        <a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
           onmouseover="TagToTip('{{single_row.nazwa|safe}}436712',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
           onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
        <span id="{{single_row.nazwa|safe}}436712" style="visibility: hidden; position: absolute; display: none;"><img
                src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
        ilosc {{single_row.ilosc}} price in EURO: :
        {{single_row.cena}}
    </li>
    {%endif%}

    {% endfor %}

</div>

<div id="Green" class="tabcontent">
    <h2>Green</h2>
    {% for single_row in json_cards_with_price %}

    {% if "g" in single_row.kolor%}
    <li class="{% cycle 'row1' 'row2' %}">
        <a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
           onmouseover="TagToTip('{{single_row.nazwa|safe}}4367128',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
           onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
        <span id="{{single_row.nazwa|safe}}4367128" style="visibility: hidden; position: absolute; display: none;"><img
                src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
        ilosc {{single_row.ilosc}} price in EURO: :
        {{single_row.cena}}
    </li>
    {%endif%}

    {% endfor %}
</div>
<div id="Black" class="tabcontent">
    <h2>Black</h2>
    {% for single_row in json_cards_with_price %}

    {% if "b" in single_row.kolor%}
    <li class="{% cycle 'row1' 'row2' %}">
        <a href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
           onmouseover="TagToTip('{{single_row.nazwa|safe}}4367122',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
           onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
        <span id="{{single_row.nazwa|safe}}4367122" style="visibility: hidden; position: absolute; display: none;"><img
                src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
        ilosc {{single_row.ilosc}} price in EURO: :
        {{single_row.cena}}
    </li>
    {%endif%}

    {% endfor %}
</div>
<div id="Blue" class="tabcontent">
    <h2>Blue</h2>
    {% for single_row in json_cards_with_price %}

    {% if "u" in single_row.kolor%}
    <li class="{% cycle 'row1' 'row2' %}"><a
            href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
            onmouseover="TagToTip('{{single_row.nazwa|safe}}4367120',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
            onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
        <span id="{{single_row.nazwa|safe}}4367120" style="visibility: hidden; position: absolute; display: none;"><img
                src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
        ilosc {{single_row.ilosc}} price in EURO: :
        {{single_row.cena}}
    </li>
    {%endif%}

    {% endfor %}
</div>
<div id="Red" class="tabcontent">
    <h2>Red</h2>
    {% for single_row in json_cards_with_price %}

    {% if "r" in single_row.kolor%}
    <li class="{% cycle 'row1' 'row2' %}"><a
            href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
            onmouseover="TagToTip('{{single_row.nazwa|safe}}4367123',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
            onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
        <span id="{{single_row.nazwa|safe}}4367123" style="visibility: hidden; position: absolute; display: none;"><img
                src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
        ilosc {{single_row.ilosc}} price in EURO: :
        {{single_row.cena}}
    </li>
    {%endif%}

    {% endfor %}
</div>
<div id="Artifact" class="tabcontent">
    <h2>Artifact</h2>
    {% for single_row in json_cards_with_price %}

    {% if "a" in single_row.kolor%}
    <li class="{% cycle 'row1' 'row2' %}"><a
            href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
            onmouseover="TagToTip('{{single_row.nazwa|safe}}4367124',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
            onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
        <span id="{{single_row.nazwa|safe}}4367124" style="visibility: hidden; position: absolute; display: none;"><img
                src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
        ilosc {{single_row.ilosc}} price in EURO: :
        {{single_row.cena}}
    </li>
    {%endif%}
    {% endfor %}
</div>
<div id="Multicolor" class="tabcontent">
    <h2>Multicolor</h2>
    {% for single_row in json_cards_with_price %}

    {% if "m" in single_row.kolor%}
    <li class="{% cycle 'row1' 'row2' %}"><a
            href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
            onmouseover="TagToTip('{{single_row.nazwa|safe}}4367125',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
            onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
        <span id="{{single_row.nazwa|safe}}4367125" style="visibility: hidden; position: absolute; display: none;"><img
                src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
        ilosc {{single_row.ilosc}} price in EURO: :
        {{single_row.cena}}
    </li>
    {%endif%}
    {% endfor %}
</div>
<div id="Lands" class="tabcontent">
    <h2>Lands</h2>
    {% for single_row in json_cards_with_price %}

    {% if "l" in single_row.kolor%}
    <li class="{% cycle 'row1' 'row2' %}"><a
            href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
            onmouseover="TagToTip('{{single_row.nazwa|safe}}4367126',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
            onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
        <span id="{{single_row.nazwa|safe}}4367126" style="visibility: hidden; position: absolute; display: none;"><img
                src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
        ilosc {{single_row.ilosc}} price in EURO: :
        {{single_row.cena}}
    </li>
    {%endif%}
    {% endfor %}
</div>
<div id="Other" class="tabcontent">
    <h2>Other</h2>
    {% for single_row in json_cards_with_price %}

    {% if "c" in single_row.kolor%}
    <li class="{% cycle 'row1' 'row2' %}"><a
            href="http://gatherer.wizards.com/Pages/Card/Details.aspx?name={{single_row.nazwa|safe}}" target="_blank"
            onmouseover="TagToTip('{{single_row.nazwa|safe}}4367127',FADEIN, 400, FADEOUT, 400, BGCOLOR, '#000000', FONTCOLOR, '#ffffff', BORDERCOLOR, '#000000')"
            onmouseout="UnTip()">{{single_row.nazwa|safe}}</a>
        <span id="{{single_row.nazwa|safe}}4367127" style="visibility: hidden; position: absolute; display: none;"><img
                src="http://gatherer.wizards.com/Handlers/Image.ashx?type=card&amp;name={{single_row.nazwa|safe}}"></span>
        ilosc {{single_row.ilosc}} price in EURO: :
        {{single_row.cena}}
    </li>
    {%endif%}
    {% endfor %}
</div>

<h1><a>TOTAL MONEY</a></h1>
<li class="total">{{total_money}} EURO</li>
<h2><a>Cards without price</a></h2>


{% for single_row in cards_no_price %}
<li class="{% cycle 'row1' 'row2' %}">{{single_row.nazwa|safe}} ilosc {{single_row.ilosc}} price in EURO: :
    {{single_row.cena}}
</li>
{% endfor %}
<h3>Results taken from : {{path_to_cards_file}}</h3>
</body>

</html>
