<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/ebdjango/css/blog.css">
    <title>{{title}}</title>
    <script src="/static/ebdjango/js/utils.js"></script>
</head>

<h1><a>Title : {{title}}</a></h1>
<h2><a>Collection Counter</a></h2>

<p id="demo">A Paragraph.</p>

<button type="button" onclick="myFunctionCount()">Count collection</button>
</br>
</br>
<button type="button" onclick="myFunctionStopCount()">Stop Counting</button>


</body>
</html>
