<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/ebdjango/css/blog.css">
    <link rel="shortcut icon" href="/static/ebdjango/img/favicon.ico"/>
    <title>All Results</title>
    <script src="/static/ebdjango/js/utils.js"></script>
    <!--script>
    var myObj = JSON.parse('{{ json_cards_tojs }}')
    </script-->
</head>

<body background="https://www.capegazette.com/sites/capegazette/files/2019/04/field/image/CoDel1.jpg">


{% for single_player in players %}
<li>
    <a>{{single_player}}</a>
      <button type="button" class="btn btn-success"
           onclick="window.location.href = '{% url 'player_results' pk=single_player.pk %}'">
       <span class="glyphicon glyphicon-signal"></span>
       See Player Results
    </button>
</li>
{% endfor %}

</body>
</html>
